<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mart</title>
    <link rel="stylesheet" media="screen" href="./assets/styles/main.css">
    <link rel="stylesheet" media="screen" href="assets/styles/owl.carousel.min.css">
<link rel="stylesheet" media="screen" href="assets/styles/owl.theme.default.min.css">
<link rel="stylesheet" href="libs/font-awesome/css/font-awesome.min.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn t work if you view the page via file:// -->
    <!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
</head>
<body class="homepage sidebar-primary">
   <header class="hidden-xs">
	<div class="container">
		<div class="row">
			<div class="flexbox-grid-default col-xs-12">
				<div class="flexbox-content flexbox-align-self-center">
					<div class="support-phone-header">
						<a href="tel:0938559501">
							<i class="fa fa-phone-square" aria-hidden="true"></i>
							<span class="ml5">0938559501</span>
						</a>
					</div>
				</div>
				<div class="flexbox-content flexbox-align-self-center">
					<div class="logo">
						
						<h1 class="hidden">Rossy Store</h1>
						
						
						<a href="index.html" title="Rossy Store">
							<img src="assets/images/logo.png" alt="Rossy Store">
						</a>
						
					</div>
				</div>
				<div class="flexbox-content flexbox-align-self-center">
					<ul class="icon-control-header text-right">
						<li class="search-header">
						
									<form action="/search">
										<input type="hidden" name="type" value="product">
										<input type="text" class="form-control" name="q" placeholder="Tìm kiếm...">
									</form>
								
							
						</li>
						<li>
							<a href="dangnhap.html">
								<i class="fa fa-user-circle-o" aria-hidden="true"></i>
							</a>
						</li>
						<li id="cart-target" class="cart">
							<a href="giohang.html" class="cart " title="Giỏ hàng">
								<i class="fa fa-shopping-cart" aria-hidden="true"></i>				
								<span id="cart-count">1</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</header>
 <nav class="navbar-main navbar navbar-default cl-pri">
	<!-- MENU MAIN -->
	<div class="container nav-wrapper">
		<div class="row">
			
			<div id="navbar" class="navbar-collapse collapse">
				<div class="row clearfix">
					<div class="col-lg-12 col-md-12 col-sm-12">
						<ul class="nav navbar-nav clearfix flexbox-grid flexbox-justifyContent-center">
							
							
							<li class=" current">
								<a href="trangchu.html" title="Trang chủ">Trang chủ</a>
							</li>
							
							
							
							<li class="">
								<a href="gioithieu.html" title="Giới thiệu">Giới thiệu</a>
							</li>
							
							
							
							<li class="dropdown">
								<a href="sanpham.html" title="Giày nam">Giày nam <i class="fa fa-angle-down"></i></a>
								<ul class="dropdown-content submenu-level1-children" role="menu">
									
									
									<li class="current">
										<a href="/" class="current" title="Lifestyle">Lifestyle</a>
									</li>
									
									
									
									<li class="current">
										<a href="/" class="current" title="Running">Running</a>
									</li>
									
									
									
									<li class="current">
										<a href="/" class="current" title="Basketball">Basketball</a>
									</li>
									
									
									
									<li class="current">
										<a href="/" class="current" title="Football">Football</a>
									</li>
									
									
									
									<li class="current">
										<a href="/" class="current" title="Gym &amp; Training">Gym &amp; Training</a>
									</li>
									
									
									
									<li class="current">
										<a href="/" class="current" title="Skateboarding">Skateboarding</a>
									</li>
									
									
									
									<li class="current">
										<a href="/" class="current" title="Tennis">Tennis</a>
									</li>
									
									
								</ul>
							</li>
							
							
							
							<li class="">
								<a href="sanpham.html" title="Giày nữ">Giày nữ</a>
							</li>
							
							
							
							<li class="">
								<a href="tintuc.html" title="Tin tức">Tin tức</a>
							</li>
							
							
							
							<li class="">
								<a href="lienhe.html" title="Liên hệ">Liên hệ</a>
							</li>
							
							
						</ul>
					</div>
				</div>				
			</div>
		</div>
	</div>
</nav>   
<div class="slider">
	<div class="container">
		<!-- Carousel -->
    	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
			<!-- Indicators -->
			<ol class="carousel-indicators">
			  	<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
			    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
			    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
			</ol>
			<!-- Wrapper for slides -->
			<div class="carousel-inner">
			    <div class="item active">
			    	<img src="assets/images/slide_index_2.jpg" alt="First slide">
                    
			    </div>
			    <div class="item">
			    	<img src="assets/images/slide_index_1.jpg" alt="First slide">
			    	
			    </div>
			   
			</div>
			<!-- Controls -->
			<a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
		    	<span class="glyphicon glyphicon-chevron-left"></span>
			</a>
			<a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
		    	<span class="glyphicon glyphicon-chevron-right"></span>
			</a>
		</div><!-- /carousel -->
	
</div></div>

<div class="container mb30 hidden-xs">
	<div class="row">
		<div class="col-md-3 col-sm-3 col-xs-12 pd-r-5 text-center pd5">
			<div class="box-content-service">
				<div class="icon-service">
					<img src="assets/images/icon-service-transport.png" alt="Giao hàng miễn phí">
				</div>
				<div class="title-service">Giao hàng miễn phí</div>
				<div class="content-service">Tất cả sản phẩm đều được vận chuyển miễn phí</div>
			</div>
		</div>
		<div class="col-md-3 col-sm-3 col-xs-12 pd-10 text-center pd5">
			<div class="box-content-service">
				<div class="icon-service">
					<img src="assets/images/icon-service-change.png" alt="Đổi trả hàng">
				</div>
				<div class="title-service">Đổi trả hàng</div>
				<div class="content-service">Sản phẩm được phép đổi trả trong vòng 2 ngày</div>
			</div>
		</div>
		<div class="col-md-3 col-sm-3 col-xs-12 pd-l-5 text-center pd5">
			<div class="box-content-service">
				<div class="icon-service">
					<img src="assets/images/icon-service-recieve-money.png" alt="Giao hàng nhận tiền">
				</div>
				<div class="title-service">Giao hàng nhận tiền</div>
				<div class="content-service">Thanh toán đơn hàng bằng hình thức trực tiếp</div>
			</div>
		</div>
		<div class="col-md-3 col-sm-3 col-xs-12 pd-l-5 text-center pd5">
			<div class="box-content-service">
				<div class="icon-service">
					<img src="assets/images/icon-service-phone.png" alt="Đặt hàng online">
				</div>
				<div class="title-service">Đặt hàng online</div>
				<div class="content-service">093.855.9501</div>
			</div>
		</div>
	</div>
</div>
<div class="container mb15 group-index" id="group-sale-index">
	<div class="row">
		<div class="col-xs-12">
			<div class="title-block">
				<div class="wrap-content">
					
					<h2 class="title-group">Black Friday</h2>
					
					<div class="title-group-note">Chương trình sẽ kết thúc sau</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row box-product-lists clear-item">
<div class="col-lg-3 col-md-4 col-sm-4 col-xs-6 product-wrapper product-resize mb30">
	<div class="product-information">
		<div class="product-detail clearfix">
			<div class="product-image image-resize">
				<a href="/nike-lunartempo-2" title="Nike LunarTempo 2">
					
					<picture>
						<img src="assets/images/xanhduonglunartempo2runningsho-1ce74df5-7f8c-428e-a38c-66dcefd07a77.jpg" alt="Nike LunarTempo 2">
					</picture>
					
				</a>
				
				<div class="product-pricesale-percent">-20%</div>
				
				<div class="product-icon-new countdown_7680119" style="display: none;">
					<svg class="svg-next-icon svg-next-icon-size-36" style="fill:#d80027">
						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-new-product"></use>
					</svg>
				</div>
				<div class="box-position-quickview">
					<div class="wrap-btn-quickview">
						<a href="javascript:void(0);" class="quickview" data-handle="/nike-lunartempo-2" data-toggle="modal" data-target="#product_view" title="Xem nhanh">Xem nhanh</a>
					</div>
				</div>
			</div>
			<div class="product-info">
				<a href="/nike-lunartempo-2" title="Nike LunarTempo 2">
					<h3 class="product-title">Nike LunarTempo 2</h3>
				</a>
				<p class="product-box-price clearfix flexbox-grid-default">
					
					<span class="price-new flexbox-content text-left">2.408.000₫</span>
					
					<span class="price-old flexbox-content text-right">3.000.000₫</span>
					
					
				</p>
			</div>
		</div>
	</div>
</div>
<div class="col-lg-3 col-md-4 col-sm-4 col-xs-6 product-wrapper product-resize mb30">
	<div class="product-information">
		<div class="product-detail clearfix">
			<div class="product-image image-resize">
				<a href="/nike-lunarglide-7" title="Nike LunarGlide 7">
					
					<picture>
						<img src="assets/images/tranglunarglide7runningshoe1.jpg" alt="Nike LunarGlide 7">
					</picture>
					
				</a>
				
				<div class="product-pricesale-percent">-21%</div>
				
				<div class="product-icon-new countdown_7680117" style="display: none;">
					<svg class="svg-next-icon svg-next-icon-size-36" style="fill:#d80027">
						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-new-product"></use>
					</svg>
				</div>
				<div class="box-position-quickview">
					<div class="wrap-btn-quickview">
						<a href="javascript:void(0);" class="quickview" data-handle="/nike-lunarglide-7" data-toggle="modal" data-target="#product_view" title="Xem nhanh">Xem nhanh</a>
					</div>
				</div>
			</div>
			<div class="product-info">
				<a href="/nike-lunarglide-7" title="Nike LunarGlide 7">
					<h3 class="product-title">Nike LunarGlide 7</h3>
				</a>
				<p class="product-box-price clearfix flexbox-grid-default">
					
					<span class="price-new flexbox-content text-left">2.718.000₫</span>
					
					<span class="price-old flexbox-content text-right">3.400.000₫</span>
					
					
				</p>
			</div>
		</div>
	</div>
</div>
<div class="col-lg-3 col-md-4 col-sm-4 col-xs-6 product-wrapper product-resize mb30">
	<div class="product-information">
		<div class="product-detail clearfix">
			<div class="product-image image-resize">
				<a href="/nike-free-tr-6-spectrum" title="Nike Free TR 6 Spectrum">
					
					<picture>
						<img src="assets/images/camfreetr6spectrumtrainingshoe-3cef5c47-80d3-454d-82cd-a2701293fff0.jpg" alt="Nike Free TR 6 Spectrum">
					</picture>
					
				</a>
				
				<div class="product-icon-new countdown_7680115" style="display: none;">
					<svg class="svg-next-icon svg-next-icon-size-36" style="fill:#d80027">
						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-new-product"></use>
					</svg>
				</div>
				<div class="box-position-quickview">
					<div class="wrap-btn-quickview">
						<a href="javascript:void(0);" class="quickview" data-handle="/nike-free-tr-6-spectrum" data-toggle="modal" data-target="#product_view" title="Xem nhanh">Xem nhanh</a>
					</div>
				</div>
			</div>
			<div class="product-info">
				<a href="/nike-free-tr-6-spectrum" title="Nike Free TR 6 Spectrum">
					<h3 class="product-title">Nike Free TR 6 Spectrum</h3>
				</a>
				<p class="product-box-price clearfix flexbox-grid-default">
					
					<span class="price-new flexbox-content text-left">3.090.000₫</span>
					
					
				</p>
			</div>
		</div>
	</div>
</div>
<div class="col-lg-3 col-md-4 col-sm-4 col-xs-6 product-wrapper product-resize mb30">
	<div class="product-information">
		<div class="product-detail clearfix">
			<div class="product-image image-resize">
				<a href="/nike-free-tr-6-print" title="Nike Free TR 6 Print">
					
					<picture>
						<img src="assets/images/hongdenfreetr6printtrainingsho-4af1e0ed-369c-4534-a1f9-3da4df1bc67a.jpg" alt="Nike Free TR 6 Print">
					</picture>
					
				</a>
				
				<div class="product-pricesale-percent">-20%</div>
				
				<div class="product-icon-new countdown_7680113" style="display: none;">
					<svg class="svg-next-icon svg-next-icon-size-36" style="fill:#d80027">
						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-new-product"></use>
					</svg>
				</div>
				<div class="box-position-quickview">
					<div class="wrap-btn-quickview">
						<a href="javascript:void(0);" class="quickview" data-handle="/nike-free-tr-6-print" data-toggle="modal" data-target="#product_view" title="Xem nhanh">Xem nhanh</a>
					</div>
				</div>
			</div>
			<div class="product-info">
				<a href="/nike-free-tr-6-print" title="Nike Free TR 6 Print">
					<h3 class="product-title">Nike Free TR 6 Print</h3>
				</a>
				<p class="product-box-price clearfix flexbox-grid-default">
					
					<span class="price-new flexbox-content text-left">2.408.000₫</span>
					
					<span class="price-old flexbox-content text-right">3.000.000₫</span>
					
					
				</p>
			</div>
		</div>
	</div>
</div>
<div class="col-lg-3 col-md-4 col-sm-4 col-xs-6 product-wrapper product-resize mb30">
	<div class="product-information">
		<div class="product-detail clearfix">
			<div class="product-image image-resize">
				<a href="/nike-free-tr-5-print" title="Nike Free TR 5 Print">
					
					<picture>
						<img src="assets/images/xanhduongfreetr5printtrainings-6d620e3d-9f17-4708-a70d-6381747e224d.jpg" alt="Nike Free TR 5 Print">
					</picture>
					
				</a>
				
				<div class="product-icon-new countdown_7680112" style="display: none;">
					<svg class="svg-next-icon svg-next-icon-size-36" style="fill:#d80027">
						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-new-product"></use>
					</svg>
				</div>
				<div class="box-position-quickview">
					<div class="wrap-btn-quickview">
						<a href="javascript:void(0);" class="quickview" data-handle="/nike-free-tr-5-print" data-toggle="modal" data-target="#product_view" title="Xem nhanh">Xem nhanh</a>
					</div>
				</div>
			</div>
			<div class="product-info">
				<a href="/nike-free-tr-5-print" title="Nike Free TR 5 Print">
					<h3 class="product-title">Nike Free TR 5 Print</h3>
				</a>
				<p class="product-box-price clearfix flexbox-grid-default">
					
					<span class="price-new flexbox-content text-left">2.408.000₫</span>
					
					
				</p>
			</div>
		</div>
	</div>
</div>
<div class="col-lg-3 col-md-4 col-sm-4 col-xs-6 product-wrapper product-resize mb30">
	<div class="product-information">
		<div class="product-detail clearfix">
			<div class="product-image image-resize">
				<a href="/nike-free-rn-flyknit" title="Nike Free RN Flyknit">
					
					<picture>
						<img src="assets/images/timfreernflyknitrunningshoe1.jpg" alt="Nike Free RN Flyknit">
					</picture>
					
				</a>
				
				<div class="product-pricesale-percent">-21%</div>
				
				<div class="product-icon-new countdown_7680111" style="display: none;">
					<svg class="svg-next-icon svg-next-icon-size-36" style="fill:#d80027">
						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-new-product"></use>
					</svg>
				</div>
				<div class="box-position-quickview">
					<div class="wrap-btn-quickview">
						<a href="javascript:void(0);" class="quickview" data-handle="/nike-free-rn-flyknit" data-toggle="modal" data-target="#product_view" title="Xem nhanh">Xem nhanh</a>
					</div>
				</div>
			</div>
			<div class="product-info">
				<a href="/nike-free-rn-flyknit" title="Nike Free RN Flyknit">
					<h3 class="product-title">Nike Free RN Flyknit</h3>
				</a>
				<p class="product-box-price clearfix flexbox-grid-default">
					
					<span class="price-new flexbox-content text-left">2.878.000₫</span>
					
					<span class="price-old flexbox-content text-right">3.600.000₫</span>
					
					
				</p>
			</div>
		</div>
	</div>
</div>
<div class="col-lg-3 col-md-4 col-sm-4 col-xs-6 product-wrapper product-resize mb30">
	<div class="product-information">
		<div class="product-detail clearfix">
			<div class="product-image image-resize">
				<a href="/nike-flyknit-air-max" title="Nike Flyknit Air Max">
					
					<picture>
						<img src="assets/images/hongflyknitairmaxrunningshoe1.jpg" alt="Nike Flyknit Air Max">
					</picture>
					
				</a>
				
				<div class="product-pricesale-percent">-21%</div>
				
				<div class="product-icon-new countdown_7680109" style="display: none;">
					<svg class="svg-next-icon svg-next-icon-size-36" style="fill:#d80027">
						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-new-product"></use>
					</svg>
				</div>
				<div class="box-position-quickview">
					<div class="wrap-btn-quickview">
						<a href="javascript:void(0);" class="quickview" data-handle="/nike-flyknit-air-max" data-toggle="modal" data-target="#product_view" title="Xem nhanh">Xem nhanh</a>
					</div>
				</div>
			</div>
			<div class="product-info">
				<a href="/nike-flyknit-air-max" title="Nike Flyknit Air Max">
					<h3 class="product-title">Nike Flyknit Air Max</h3>
				</a>
				<p class="product-box-price clearfix flexbox-grid-default">
					
					<span class="price-new flexbox-content text-left">4.978.000₫</span>
					
					<span class="price-old flexbox-content text-right">6.300.000₫</span>
					
					
				</p>
			</div>
		</div>
	</div>
</div>
<div class="col-lg-3 col-md-4 col-sm-4 col-xs-6 product-wrapper product-resize mb30">
	<div class="product-information">
		<div class="product-detail clearfix">
			<div class="product-image image-resize">
				<a href="/nike-air-zoom-structure-20" title="Nike Air Zoom Structure 20">
					
					<picture>
						<img src="assets/images/timairzoomstructure20runningsh-6d61447a-6bff-40a4-a962-6cec4a6c9a39.jpg" alt="Nike Air Zoom Structure 20">
					</picture>
					
				</a>
				
				<div class="product-icon-new countdown_7680107" style="display: none;">
					<svg class="svg-next-icon svg-next-icon-size-36" style="fill:#d80027">
						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-new-product"></use>
					</svg>
				</div>
				<div class="box-position-quickview">
					<div class="wrap-btn-quickview">
						<a href="javascript:void(0);" class="quickview" data-handle="/nike-air-zoom-structure-20" data-toggle="modal" data-target="#product_view" title="Xem nhanh">Xem nhanh</a>
					</div>
				</div>
			</div>
			<div class="product-info">
				<a href="/nike-air-zoom-structure-20" title="Nike Air Zoom Structure 20">
					<h3 class="product-title">Nike Air Zoom Structure 20</h3>
				</a>
				<p class="product-box-price clearfix flexbox-grid-default">
					
					<span class="price-new flexbox-content text-left">3.390.000₫</span>
					
					
				</p>
			</div>
		</div>
	</div>
</div>
		
		
		
	</div>
	<div class="row mb30">
		<div class="col-xs-12">
			<div class="text-center">
				<a href="" class="btn btn-view-more">Xem tất cả</a>
			</div>
		</div>
	</div>
</div>

<div class="container mb15 group-index">
	<div class="row">
		<div class="col-xs-12">
			<div class="title-block">
				<div class="wrap-content">
					<h2 class="title-group">Danh mục ưu thích</h2>
					<div class="title-group-note">Danh mục được nhiều khách hàng yêu thích</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		
		
		
		
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 mb30 box-banner-index">
			<div class="">
				<a href="/">
					<img src="assets/images/banner_index_1.jpg" alt="Tên banner 1">
				</a>
			</div>
		</div>
		
		
		
		
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 mb30 box-banner-index">
			<div class="">
				<a href="/">
					<img src="assets/images/banner_index_2.jpg" alt="Tên banner 2">
				</a>
			</div>
		</div>
		
		
		
		
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 mb30 box-banner-index">
			<div class="">
				<a href="/">
					<img src="assets/images/banner_index_3.jpg" alt="Tên banner 3">
				</a>
			</div>
		</div>
		
		
		
		
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 mb30 box-banner-index">
			<div class="">
				<a href="/">
					<img src="assets/images/banner_index_4.jpg" alt="Tên banner 4">
				</a>
			</div>
		</div>
		
		
		
		
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 mb30 box-banner-index">
			<div class="">
				<a href="/">
					<img src="assets/images/banner_index_5.jpg" alt="Tên banner 5">
				</a>
			</div>
		</div>
		
		
		
		
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 mb30 box-banner-index">
			<div class="">
				<a href="/">
					<img src="assets/images/banner_index_6.jpg" alt="Tên banner 6">
				</a>
			</div>
		</div>
		
	</div>
</div>
<div class="container mb15 group-index">
	<div class="row">
		<div class="col-xs-12">
			<div class="title-block">
				<div class="wrap-content">
					
					<h2 class="title-group">Sản phẩm bán chạy</h2>
					
					<div class="title-group-note">Hàng luôn được cập nhật thường xuyên</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row box-product-lists clear-item">
<div class="col-lg-3 col-md-4 col-sm-4 col-xs-6 product-wrapper product-resize mb30">
	<div class="product-information">
		<div class="product-detail clearfix">
			<div class="product-image image-resize">
				<a href="" title="Nike Free TR 6 Spectrum">
					
					<picture>
						<img src="assets/images/camfreetr6spectrumtrainingshoe-3cef5c47-80d3-454d-82cd-a2701293fff0.jpg" alt="Nike Free TR 6 Spectrum">
					</picture>
					
				</a>
				<div class="box-position-quickview">
					<div class="wrap-btn-quickview">
						<a href="javascript:void(0);" class="quickview" data-handle=""  data-toggle="modal" data-target="#product_view" title="Xem nhanh">Xem nhanh</a>
					</div>
				</div>
			</div>
			<div class="product-info">
				<a href="" title="Nike Free TR 6 Spectrum">
					<h3 class="product-title">Nike Free TR 6 Spectrum</h3>
				</a>
				<p class="product-box-price clearfix flexbox-grid-default">
					
					<span class="price-new flexbox-content text-left">3.090.000₫</span>
					
					
				</p>
			</div>
		</div>
	</div>
</div>
<div class="col-lg-3 col-md-4 col-sm-4 col-xs-6 product-wrapper product-resize mb30">
	<div class="product-information">
		<div class="product-detail clearfix">
			<div class="product-image image-resize">
				<a href="" title="Nike Free TR 6 Spectrum">
					
					<picture>
						<img src="assets/images/camfreetr6spectrumtrainingshoe-3cef5c47-80d3-454d-82cd-a2701293fff0.jpg" alt="Nike Free TR 6 Spectrum">
					</picture>
					
				</a>
				<div class="box-position-quickview">
					<div class="wrap-btn-quickview">
						<a href="javascript:void(0);" class="quickview" data-handle=""  data-toggle="modal" data-target="#product_view" title="Xem nhanh">Xem nhanh</a>
					</div>
				</div>
			</div>
			<div class="product-info">
				<a href="" title="Nike Free TR 6 Spectrum">
					<h3 class="product-title">Nike Free TR 6 Spectrum</h3>
				</a>
				<p class="product-box-price clearfix flexbox-grid-default">
					
					<span class="price-new flexbox-content text-left">3.090.000₫</span>
					
					
				</p>
			</div>
		</div>
	</div>
</div>
<div class="col-lg-3 col-md-4 col-sm-4 col-xs-6 product-wrapper product-resize mb30">
	<div class="product-information">
		<div class="product-detail clearfix">
			<div class="product-image image-resize">
				<a href="" title="Nike Free TR 6 Spectrum">
					
					<picture>
						<img src="assets/images/camfreetr6spectrumtrainingshoe-3cef5c47-80d3-454d-82cd-a2701293fff0.jpg" alt="Nike Free TR 6 Spectrum">
					</picture>
					
				</a>
				<div class="box-position-quickview">
					<div class="wrap-btn-quickview">
						<a href="javascript:void(0);" class="quickview" data-handle=""  data-toggle="modal" data-target="#product_view" title="Xem nhanh">Xem nhanh</a>
					</div>
				</div>
			</div>
			<div class="product-info">
				<a href="" title="Nike Free TR 6 Spectrum">
					<h3 class="product-title">Nike Free TR 6 Spectrum</h3>
				</a>
				<p class="product-box-price clearfix flexbox-grid-default">
					
					<span class="price-new flexbox-content text-left">3.090.000₫</span>
					
					
				</p>
			</div>
		</div>
	</div>
</div>
<div class="col-lg-3 col-md-4 col-sm-4 col-xs-6 product-wrapper product-resize mb30">
	<div class="product-information">
		<div class="product-detail clearfix">
			<div class="product-image image-resize">
				<a href="" title="Nike Free TR 6 Spectrum">
					
					<picture>
						<img src="assets/images/camfreetr6spectrumtrainingshoe-3cef5c47-80d3-454d-82cd-a2701293fff0.jpg" alt="Nike Free TR 6 Spectrum">
					</picture>
					
				</a>
				<div class="box-position-quickview">
					<div class="wrap-btn-quickview">
						<a href="javascript:void(0);" class="quickview" data-handle=""  data-toggle="modal" data-target="#product_view" title="Xem nhanh">Xem nhanh</a>
					</div>
				</div>
			</div>
			<div class="product-info">
				<a href="" title="Nike Free TR 6 Spectrum">
					<h3 class="product-title">Nike Free TR 6 Spectrum</h3>
				</a>
				<p class="product-box-price clearfix flexbox-grid-default">
					
					<span class="price-new flexbox-content text-left">3.090.000₫</span>
					
					
				</p>
			</div>
		</div>
	</div>
</div>
<div class="col-lg-3 col-md-4 col-sm-4 col-xs-6 product-wrapper product-resize mb30">
	<div class="product-information">
		<div class="product-detail clearfix">
			<div class="product-image image-resize">
				<a href="" title="Nike Free TR 6 Spectrum">
					
					<picture>
						<img src="assets/images/camfreetr6spectrumtrainingshoe-3cef5c47-80d3-454d-82cd-a2701293fff0.jpg" alt="Nike Free TR 6 Spectrum">
					</picture>
					
				</a>
				<div class="box-position-quickview">
					<div class="wrap-btn-quickview">
						<a href="javascript:void(0);" class="quickview" data-handle=""  data-toggle="modal" data-target="#product_view" title="Xem nhanh">Xem nhanh</a>
					</div>
				</div>
			</div>
			<div class="product-info">
				<a href="" title="Nike Free TR 6 Spectrum">
					<h3 class="product-title">Nike Free TR 6 Spectrum</h3>
				</a>
				<p class="product-box-price clearfix flexbox-grid-default">
					
					<span class="price-new flexbox-content text-left">3.090.000₫</span>
					
					
				</p>
			</div>
		</div>
	</div>
</div>
<div class="col-lg-3 col-md-4 col-sm-4 col-xs-6 product-wrapper product-resize mb30">
	<div class="product-information">
		<div class="product-detail clearfix">
			<div class="product-image image-resize">
				<a href="" title="Nike Free TR 6 Spectrum">
					
					<picture>
						<img src="assets/images/camfreetr6spectrumtrainingshoe-3cef5c47-80d3-454d-82cd-a2701293fff0.jpg" alt="Nike Free TR 6 Spectrum">
					</picture>
					
				</a>
				<div class="box-position-quickview">
					<div class="wrap-btn-quickview">
						<a href="javascript:void(0);" class="quickview" data-handle=""  data-toggle="modal" data-target="#product_view" title="Xem nhanh">Xem nhanh</a>
					</div>
				</div>
			</div>
			<div class="product-info">
				<a href="" title="Nike Free TR 6 Spectrum">
					<h3 class="product-title">Nike Free TR 6 Spectrum</h3>
				</a>
				<p class="product-box-price clearfix flexbox-grid-default">
					
					<span class="price-new flexbox-content text-left">3.090.000₫</span>
					
					
				</p>
			</div>
		</div>
	</div>
</div>
<div class="col-lg-3 col-md-4 col-sm-4 col-xs-6 product-wrapper product-resize mb30">
	<div class="product-information">
		<div class="product-detail clearfix">
			<div class="product-image image-resize">
				<a href="" title="Nike Free TR 6 Spectrum">
					
					<picture>
						<img src="assets/images/camfreetr6spectrumtrainingshoe-3cef5c47-80d3-454d-82cd-a2701293fff0.jpg" alt="Nike Free TR 6 Spectrum">
					</picture>
					
				</a>
				<div class="box-position-quickview">
					<div class="wrap-btn-quickview">
						<a href="javascript:void(0);" class="quickview" data-handle=""  data-toggle="modal" data-target="#product_view" title="Xem nhanh">Xem nhanh</a>
					</div>
				</div>
			</div>
			<div class="product-info">
				<a href="" title="Nike Free TR 6 Spectrum">
					<h3 class="product-title">Nike Free TR 6 Spectrum</h3>
				</a>
				<p class="product-box-price clearfix flexbox-grid-default">
					
					<span class="price-new flexbox-content text-left">3.090.000₫</span>
					
					
				</p>
			</div>
		</div>
	</div>
</div>
<div class="col-lg-3 col-md-4 col-sm-4 col-xs-6 product-wrapper product-resize mb30">
	<div class="product-information">
		<div class="product-detail clearfix">
			<div class="product-image image-resize">
				<a href="" title="Nike Free TR 6 Spectrum">
					
					<picture>
						<img src="assets/images/camfreetr6spectrumtrainingshoe-3cef5c47-80d3-454d-82cd-a2701293fff0.jpg" alt="Nike Free TR 6 Spectrum">
					</picture>
					
				</a>
				<div class="box-position-quickview">
					<div class="wrap-btn-quickview">
						<a href="javascript:void(0);" class="quickview" data-handle=""  data-toggle="modal" data-target="#product_view" title="Xem nhanh">Xem nhanh</a>
					</div>
				</div>
			</div>
			<div class="product-info">
				<a href="" title="Nike Free TR 6 Spectrum">
					<h3 class="product-title">Nike Free TR 6 Spectrum</h3>
				</a>
				<p class="product-box-price clearfix flexbox-grid-default">
					
					<span class="price-new flexbox-content text-left">3.090.000₫</span>
					
					
				</p>
			</div>
		</div>
	</div>
</div>
		
		
		
	</div>
	<div class="row mb30">
		<div class="col-xs-12">
			<div class="text-center">
				<a href="" class="btn btn-view-more">Xem tất cả</a>
			</div>
		</div>
	</div>
</div>
<div id="blog-index" class="mb30">
	<div class="container group-index">
		<div class="row">
			<div class="col-xs-12">
				<div class="title-block">
					<div class="wrap-content">
						
						<h2 class="title-group">Tin tức</h2>
						
						<div class="title-group-note">Tin tức được cập nhật thường xuyên</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 mb15">
				<div class="owl-carousel owl-theme owl-loaded" id="blog-index">
				<div class="owl-stage-outer">
				<div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: 0s; width: 1732.5px;">
				<div class="owl-item active" style="width: 273.75px; margin-right: 15px;">
				<div class="item">
						<div class="box-article-index">
							<div class="article-image-index">
								<a href="" title="Air Jordan 3 True Blue được bán sớm hơn thông qua ứng dụng SNKRS và Nike">
									<img src="assets/images/yaq3rp7binnritgbubsl-grande.jpg" alt="Air Jordan 3 True Blue được bán sớm hơn thông qua ứng dụng SNKRS và Nike">
								</a>
							</div>
							<div class="article-description-index">
								<a href="" title="Air Jordan 3 True Blue được bán sớm hơn thông qua ứng dụng SNKRS và Nike"><h3 class="article-title">Air Jordan 3 True Blue được bán sớm hơn thông qua ứng dụng SNKRS và Nike</h3></a>
								<div class="article-excerpt-index">
									 Nike vẫn giữ nguyên ngày phát hành của phiên bản Air Jordan 3 “True Blue” vào ngày Black Friday 25/11 sắp tới và không có bất kì thông tin gì về việc thay đổi hay trì hoãn thời điểm phát hành của phiên bản này. Thay vào đó việc...
								</div>
							</div>
						</div>
					</div></div>
					<div class="owl-item active" style="width: 273.75px; margin-right: 15px;">
					<div class="item">
						<div class="box-article-index">
							<div class="article-image-index">
								<a href="" title="Nike Flyknit Racer Triple Black">
									<img src="assets/images/nike-flyknit-racer-midnight-1-e1479554458945-grande.jpg" alt="Nike Flyknit Racer Triple Black">
								</a>
							</div>
							<div class="article-description-index">
								<a href="" title="Nike Flyknit Racer Triple Black"><h3 class="article-title">Nike Flyknit Racer Triple Black</h3></a>
								<div class="article-excerpt-index">
									 Cuối cùng thì Nike Sportwear cũng đã phát hành phối màu “all black” của mẫu giày Nike Flyknit Racer với mức giá bán lẻ $150. Mặc dù cũng đã hơi trễ khi phát hành nhưng Nike đang cố gắng với vát lại thị trường của các sản phẩm flyknit...
								</div>
							</div>
						</div>
					</div></div><div class="owl-item active" style="width: 273.75px; margin-right: 15px;"><div class="item">
						<div class="box-article-index">
							<div class="article-image-index">
								<a href="" title="Phiên bản adidas Gazelle mới với phối màu Collegiate Green">
									<img src="assets/images/adidas-gazelle-collegiate-green-3-grande.jpg" alt="Phiên bản adidas Gazelle mới với phối màu Collegiate Green">
								</a>
							</div>
							<div class="article-description-index">
								<a href="" title="Phiên bản adidas Gazelle mới với phối màu Collegiate Green"><h3 class="article-title">Phiên bản adidas Gazelle mới với phối màu Collegiate Green</h3></a>
								<div class="article-excerpt-index">
									 Tông màu collegiate green gần như trở thành một màu sắc đặc trưng cho dòng Gazelle – với nhiều phiên bản sử dụng màu sắc này với các cách phối màu khác nhau đã được ra mắt trước đây. Phiên bản ngày hôm nay sẽ là sự kết hợp...
								</div>
							</div>
						</div>
					</div></div><div class="owl-item active" style="width: 273.75px; margin-right: 15px;"><div class="item">
						<div class="box-article-index">
							<div class="article-image-index">
								<a href="" title="Air Jordan 9 Kobe – Cảm hứng từ một phiên bản P.E. của Kobe Bryant">
									<img src="assets/images/air-jordan-9-31-20-1-grande.jpg" alt="Air Jordan 9 Kobe – Cảm hứng từ một phiên bản P.E. của Kobe Bryant">
								</a>
							</div>
							<div class="article-description-index">
								<a href="" title="Air Jordan 9 Kobe – Cảm hứng từ một phiên bản P.E. của Kobe Bryant"><h3 class="article-title">Air Jordan 9 Kobe – Cảm hứng từ một phiên bản P.E. của Kobe Bryant</h3></a>
								<div class="article-excerpt-index">
									 Là phiên bản đầu tiên được phát hành trong số những phiên bản Air Jordan P.E. của Kobe Bryant, phiên bản Air Jordan 9 giữ nguyên hầu hết mọi chi tiết của đôi P.E. mà Jordan Brand đã thiết kế cho Kobe Bryant trong mùa giải mà anh còn...
								</div>
							</div>
						</div>
					</div></div></div></div><div class="owl-controls"><div class="owl-nav"><div class="owl-prev" style="display: none;">prev</div><div class="owl-next" style="display: none;">next</div></div><div class="owl-dots" style="display: none;"></div></div></div>
			</div>
			<div class="col-xs-12">
				<div class="text-center">
					<a href="/tin-tuc" class="btn btn-view-more">Xem thêm</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container mb15 group-index">
	<div class="row">
		<div class="col-xs-12">
			<div class="title-block">
				<div class="wrap-content">
					
					<h2 class="title-group">Thương hiệu</h2>
					
					<div class="title-group-note">Thương hiệu nổi bật của chúng tôi</div>
				</div>
			</div>
			<div class="works">
			<div class="owl-carousel owl-theme">
                <div class="works-item">
				
                <img src="assets/images/partner_1.png"/>
      </div> 
              <div class="works-item">
				
                <img src="assets/images/partner_2.png"/>
      </div>
                            
		<div class="works-item">
				
               <img src="assets/images/partner_3.png"/>
      </div>
      
              <div class="works-item">
				
                <img src="assets/images/partner_4.png"/>
      </div>
	  <div class="works-item">
				
                <img src="assets/images/partner_5.png"/>
      </div>
	   <div class="works-item">
				
                <img src="assets/images/partner_6.png"/>
      </div>
	  
            </div>  </div>
		</div>
		
	</div>
		
	
</div>
<div class="modal fade product_view" id="product_view">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" data-dismiss="modal" class="class pull-right"><span class="glyphicon glyphicon-remove"></span></a>
                <h3 class="modal-title">Giày thể thao Nike LunarTempo 2</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6 product_img">
                        <img src="assets/images/dotrainspeed4trainingshoe1.jpg" class="img-responsive">
                    </div>
                    <div class="col-md-6 product_content">
                        <h4>Mã số: <span>51526</span></h4>
                        <div class="rating">
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            (10 reviews)
                        </div>
                        <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        <h3 class="cost"><span class="glyphicon glyphicon-usd"></span> 75.00 <small class="pre-cost"><span class="glyphicon glyphicon-usd"></span> 60.00</small></h3>
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <select class="form-control" name="select">
                                    <option value="" selected="">Màu sắc</option>
                                    <option value="black">Trắng</option>
                                    <option value="white">Đen</option>
                                    <option value="gold">Hồng</option>
                                    <option value="rose gold">Khác</option>
                                </select>
                            </div>
                            <!-- end col -->
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <select class="form-control" name="select">
                                    <option value="">Kích thước</option>
                                    <option value="">36</option>
                                    <option value="">37</option>
                                    <option value="">38</option>
                                    <option value="">39</option>
                                </select>
                            </div>
                            
                            <!-- end col -->
                        </div>
                        <div class="space-ten"></div>
                        <div class="btn-ground">
                            <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-shopping-cart"></span> Thêm vào giỏ</button>
                         
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
      <!--footer-->
<footer>
	<div class="footer-center">
		<div class="container">
			<div class="row">
				
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 pd5">
					<div class="box-footer-colum">
						<h4 class="">Liên hệ</h4>
						<ul class="footer-list-menu">
							<li class="footer-address">1A87 ấp 1 xã Phạm Văn Hai, Bình Chánh, TPHCM</li>
							<li class="fooer-phone">
								<label class="mr5">Phone: </label><span><a href="tel:0938559501">0938559501</a></span>
							</li>
							<li class="footer-email">
								<label class="mr5">Email: </label><span><a href="mailto:nobita.nguyen0902@gmail.com">nobita.nguyen0902@gmail.com</a></span>
							</li>
						</ul>
					</div>
				</div>
				
				
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 pd5">
					<div class="box-footer-colum">
						<h4 class="">Chính sách hỗ trợ</h4>
						<ul class="footer-list-menu">
							
							
							<li>
								<a href="/" title="Chính sách đổi sản phẩm">Chính sách đổi sản phẩm</a>
							</li>
							
							<li>
								<a href="/" title="Chính sách trả góp">Chính sách trả góp</a>
							</li>
							
							<li>
								<a href="/" title="Chính sách bảo hành">Chính sách bảo hành</a>
							</li>
							
							<li>
								<a href="/" title="Chính sách giao hàng">Chính sách giao hàng</a>
							</li>
								
							
						</ul>
					</div>
				</div>
				
				
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 pd5">
					<div class="box-footer-colum">
						<h4 class="">Liên kết</h4>
						<div class="social">
							<ul class="footer-list-menu">
								<li>Hãy kết nối với chúng tôi.</li>
							</ul>
							<ul class="list-unstyled clearfix">
								
								<li class="facebook">
									<a target="_blank" href="/" class="fa fa-facebook"></a>
								</li>
								
								
								<li class="twitter">
									<a class="fa fa-twitter" target="_blank" href="/"></a>
								</li>
								
								
								<li class="google-plus">
									<a class="fa fa-google-plus" target="_blank" href="/"></a>
								</li>
								
								
								<li class="rss">
									<a class="fa fa-instagram" target="_blank" href="/"></a>
								</li>
								
								
								<li class="youtube">
									<a class="fa fa-youtube" target="_blank" href="/"></a>
								</li>
								
							</ul>
							
							<div class="dkbocongthuong">
								<img src="assets/images/dkbocongthuong.png" alt="Bộ công thương">
							</div>
							
						</div>
					</div>
				</div>
				
				
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 pd5">
					<div class="box-footer-colum">
						<h4 class="">Fanpage</h4>
					</div>
				</div>
				
			</div>
		</div>
	</div>
	<div id='bttop'><i class="fa fa-arrow-up" aria-hidden="true"></i></div>
	<script src='http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js' type='text/javascript'></script>
<script type='text/javascript'>
$(function() {
 $(window).scroll(function() {
 if ($(this).scrollTop() != 0) {
 $('#bttop').fadeIn();
 } else {
 $('#bttop').fadeOut();
 }
 });
 $('#bttop').click(function() {
 $('body,html').animate({
 scrollTop: 0
 }, 800);
 });
});
</script>
	<div class="footer-bottom">
		<div class="pd5 text-center">
			<div class="footer-copyright">
				
				<p>© Bản quyền thuộc về <a href="" target="_blank">phu le</a>. Cung cấp bởi <a href="" target="_blank">iCheck</a>.</p>                
				
			</div>
		</div>
	</div>
	
</footer>
    <!--scripts-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <!--app script-->
    <script src="./assets/scripts/main.js"></script>
    <script src="assets/scripts/owl.carousel.min.js"></script>
</body>

</html>