<!DOCTYPE html>
<html lang="">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Mart</title>
	<link rel="stylesheet" media="screen" href="./assets/styles/main.css">
	<link rel="stylesheet" media="screen" href="assets/styles/owl.carousel.min.css">
	<link rel="stylesheet" media="screen" href="assets/styles/owl.theme.default.min.css">
	<link rel="stylesheet" href="libs/font-awesome/css/font-awesome.min.css">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn t work if you view the page via file:// -->
	<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
</head>

<body class="homepage sidebar-primary">
	<header class="hidden-xs">
		<div class="container">
			<div class="row">
				<div class="flexbox-grid-default col-xs-12">
					<div class="flexbox-content flexbox-align-self-center">
						<div class="support-phone-header">
							<a href="tel:0938559501">
								<i class="fa fa-phone-square" aria-hidden="true"></i>
								<span class="ml5">0938559501</span>
							</a>
						</div>
					</div>
					<div class="flexbox-content flexbox-align-self-center">
						<div class="logo">

							<h1 class="hidden">Rossy Store</h1>


							<a href="index.html" title="Rossy Store">
								<img src="assets/images/logo.png" alt="Rossy Store">
							</a>

						</div>
					</div>
					<div class="flexbox-content flexbox-align-self-center">
						<ul class="icon-control-header text-right">
							<li class="search-header">

								<form action="/search">
									<input type="hidden" name="type" value="product">
									<input type="text" class="form-control" name="q" placeholder="Tìm kiếm...">
								</form>


							</li>
							<li>
								<a href="dangnhap.html">
									<i class="fa fa-user-circle-o" aria-hidden="true"></i>
								</a>
							</li>
							<li id="cart-target" class="cart">
								<a href="giohang.html" class="cart " title="Giỏ hàng">
									<i class="fa fa-shopping-cart" aria-hidden="true"></i>
									<span id="cart-count">1</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</header>
	<nav class="navbar-main navbar navbar-default cl-pri">
		<!-- MENU MAIN -->
		<div class="container nav-wrapper">
			<div class="row">

				<div id="navbar" class="navbar-collapse collapse">
					<div class="row clearfix">
						<div class="col-lg-12 col-md-12 col-sm-12">
							<ul class="nav navbar-nav clearfix flexbox-grid flexbox-justifyContent-center">


								<li class=" current">
									<a href="trangchu.html" title="Trang chủ">Trang chủ</a>
								</li>



								<li class="">
									<a href="gioithieu.html" title="Giới thiệu">Giới thiệu</a>
								</li>



								<li class="dropdown">
									<a href="sanpham.html" title="Giày nam">Giày nam <i
											class="fa fa-angle-down"></i></a>
									<ul class="dropdown-content submenu-level1-children" role="menu">


										<li class="current">
											<a href="/" class="current" title="Lifestyle">Lifestyle</a>
										</li>



										<li class="current">
											<a href="/" class="current" title="Running">Running</a>
										</li>



										<li class="current">
											<a href="/" class="current" title="Basketball">Basketball</a>
										</li>



										<li class="current">
											<a href="/" class="current" title="Football">Football</a>
										</li>



										<li class="current">
											<a href="/" class="current" title="Gym &amp; Training">Gym &amp;
												Training</a>
										</li>



										<li class="current">
											<a href="/" class="current" title="Skateboarding">Skateboarding</a>
										</li>



										<li class="current">
											<a href="/" class="current" title="Tennis">Tennis</a>
										</li>


									</ul>
								</li>



								<li class="">
									<a href="sanpham.html" title="Giày nữ">Giày nữ</a>
								</li>



								<li class="">
									<a href="tintuc.html" title="Tin tức">Tin tức</a>
								</li>



								<li class="">
									<a href="lienhe.html" title="Liên hệ">Liên hệ</a>
								</li>


							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</nav>
	<div class="header-navigate clearfix mb15">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pd5">
					<ol class="breadcrumb breadcrumb-arrow" itemscope=""
						itemtype="http://data-vocabulary.org/Breadcrumb">
						<li><a href="/" itemprop="url" target="_self">Trang chủ</a></li>

						<li><i class="fa fa-angle-right"></i></li>
						<li class="active"><span itemprop="title">sanpham</span></li>

					</ol>
				</div>
			</div>
		</div>
	</div>
	<section id="collection" class="clearfix">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
					<div class="wrap-filter clearfix mb15">

						<div class="group-collection" aria-expanded="true">
							<div class="title-block dropdown-filter">

								<h3 class="title-group">Danh mục nhóm</h3>

								<i class="fa fa-minus flexbox-grid-default flexbox-justifyContent-center flexbox-alignItems-center"
									aria-hidden="true"></i>
							</div>
							<div class="filter-box">
								<ul id="menusidebarleft" class="menu-collection clearfix mb15">


									<li class="">
										<a href="/" title="Trang chủ">Trang chủ</a>
									</li>



									<li class="">
										<a href="/gioi-thieu" title="Giới thiệu">Giới thiệu</a>
									</li>



									<li class="active submenu-parent" aria-expanded="false">
										<a href="/giay-nam" title="Giày nam">Giày nam</a>


									</li>



									<li class="">
										<a href="/giay-nu" title="Giày nữ">Giày nữ</a>
									</li>



									<li class="">
										<a href="/tin-tuc" title="Tin tức">Tin tức</a>
									</li>



									<li class="">
										<a href="/lien-he" title="Liên hệ">Liên hệ</a>
									</li>


								</ul>
							</div>
						</div>


						<div class="group-collection" aria-expanded="true">
							<div class="title-block dropdown-filter">

								<h3 class="title-group">Thương hiệu</h3>

								<i class="fa fa-minus flexbox-grid-default flexbox-justifyContent-center flexbox-alignItems-center"
									aria-hidden="true"></i>
							</div>
							<div class="filter-box" id="filter-vendor">
								<ul>

									<li>
										<label data-filter="nike" class="nike">
											<input type="checkbox" value="(Nike)">
											<span>Nike</span>
										</label>
									</li>

								</ul>
							</div>
						</div>


						<div class="group-collection" aria-expanded="true" style="height:200px;">
							<div class="title-block dropdown-filter">

								<h3 class="title-group">Giá</h3>

								<i class="fa fa-minus flexbox-grid-default flexbox-justifyContent-center flexbox-alignItems-center"
									aria-hidden="true"></i>
							</div>
							<div class="filter-box" id="filter-price">
								<ul>
									<li>
										<label>
											<input type="radio" name="price-filter" data-price="0:500000"
												value="(price_min:(<=500000))">
											<span>Nhỏ hơn 500.000₫</span>
										</label>
									</li>
									<li>
										<label>
											<input type="radio" name="price-filter" data-price="500000:2000000"
												value="(price_min:((>=500000)AND(<2000000)))">
											<span>Từ 500.000₫ - 2.000.000₫</span>
										</label>
									</li>
									<li>
										<label>
											<input type="radio" name="price-filter" data-price="2000000:3000000"
												value="(price_min:((>=2000000)AND(<3000000)))">
											<span>Từ 2.000.000₫ - 3.000.000₫</span>
										</label>
									</li>
									<li>
										<label>
											<input type="radio" name="price-filter" data-price="3000000:4000000"
												value="(price_min:((>=3000000)AND(<4000000)))">
											<span>Từ 3.000.000₫ - 4.000.000₫</span>
										</label>
									</li>
									<li>
										<label>
											<input type="radio" name="price-filter" data-price="4000000:max"
												value="(price_min:(>=4000000))">
											<span>Lớn hơn 4.000.000₫</span>
										</label>
									</li>
								</ul>
							</div>
						</div>


						<div class="group-collection" aria-expanded="true">
							<div class="title-block dropdown-filter">

								<h3 class="title-group">Màu sắc</h3>

								<i class="fa fa-minus flexbox-grid-default flexbox-justifyContent-center flexbox-alignItems-center"
									aria-hidden="true"></i>
							</div>
							<div class="filter-box" id="filter-color">
								<ul class="clearfix">



									<li>
										<label style="background:#ffffff" class="first-color">
											<input type="checkbox" value="(Trắng)">
										</label>
									</li>



									<li>
										<label style="background:#000000">
											<input type="checkbox" value="(Đen)">
										</label>
									</li>



									<li>
										<label style="background:#f44336">
											<input type="checkbox" value="(Đỏ)">
										</label>
									</li>



									<li>
										<label style="background:#f06292">
											<input type="checkbox" value="(Hồng)">
										</label>
									</li>



									<li>
										<label style="background:#9c27b0">
											<input type="checkbox" value="(Tím)">
										</label>
									</li>



									<li>
										<label style="background:#2196f3">
											<input type="checkbox" value="(Xanh)">
										</label>
									</li>



									<li>
										<label style="background:#3f51b5">
											<input type="checkbox" value="(Xanh Dương)">
										</label>
									</li>



									<li>
										<label style="background:#4caf50">
											<input type="checkbox" value="(Xanh Lá)">
										</label>
									</li>



									<li>
										<label style="background:#ffb74d">
											<input type="checkbox" value="(Cam)">
										</label>
									</li>



									<li>
										<label style="background:#cfd8dc">
											<input type="checkbox" value="(Xám)">
										</label>
									</li>



									<li>
										<label style="background:#8d6e63">
											<input type="checkbox" value="(Nâu)">
										</label>
									</li>



									<li>
										<label style="background:#ffee58">
											<input type="checkbox" value="(Vàng)">
										</label>
									</li>

								</ul>
							</div>
						</div>


						<div class="group-collection" aria-expanded="true">
							<div class="title-block dropdown-filter">

								<h3 class="title-group">Kích thước</h3>

								<i class="fa fa-minus flexbox-grid-default flexbox-justifyContent-center flexbox-alignItems-center"
									aria-hidden="true"></i>
							</div>
							<div class="filter-box" id="filter-size">

								<ul class="filter-size clearfix">

									<li>
										<label data-filter="35" class="35">
											<input type="checkbox" value="(35)">
											<span>35</span>
										</label>
									</li>

									<li>
										<label data-filter="36" class="36">
											<input type="checkbox" value="(36)">
											<span>36</span>
										</label>
									</li>

									<li>
										<label data-filter="37" class="37">
											<input type="checkbox" value="(37)">
											<span>37</span>
										</label>
									</li>

									<li>
										<label data-filter="38" class="38">
											<input type="checkbox" value="(38)">
											<span>38</span>
										</label>
									</li>

									<li>
										<label data-filter="39" class="39">
											<input type="checkbox" value="(39)">
											<span>39</span>
										</label>
									</li>

									<li>
										<label data-filter="40" class="40">
											<input type="checkbox" value="(40)">
											<span>40</span>
										</label>
									</li>

									<li>
										<label data-filter="41" class="41">
											<input type="checkbox" value="(41)">
											<span>41</span>
										</label>
									</li>

									<li>
										<label data-filter="42" class="42">
											<input type="checkbox" value="(42)">
											<span>42</span>
										</label>
									</li>

									<li>
										<label data-filter="43" class="43">
											<input type="checkbox" value="(43)">
											<span>43</span>
										</label>
									</li>

									<li>
										<label data-filter="44" class="44">
											<input type="checkbox" value="(44)">
											<span>44</span>
										</label>
									</li>

									<li>
										<label data-filter="45" class="45">
											<input type="checkbox" value="(45)">
											<span>45</span>
										</label>
									</li>

									<li>
										<label data-filter="46" class="46">
											<input type="checkbox" value="(46)">
											<span>46</span>
										</label>
									</li>

									<li>
										<label data-filter="47" class="47">
											<input type="checkbox" value="(47)">
											<span>47</span>
										</label>
									</li>

									<li>
										<label data-filter="48" class="48">
											<input type="checkbox" value="(48)">
											<span>48</span>
										</label>
									</li>

								</ul>
							</div>
						</div>

					</div>
				</div>
				<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
					<div class="row">
						<div class="col-xs-12 pd5">
							<div class="group-collection">
								<div class="title-block">

									<h1 class="title-group">Giày nam</h1>


									<div class="browse-tags pull-right hidden-xs">
										<span class="mr5">Sắp xếp theo:</span>
										<span class="custom-dropdown custom-dropdown--white">
											<select
												class="sort-by custom-dropdown__select custom-dropdown__select--white">
												<option value="manual">Sản phẩm nổi bật</option>
												<option value="price-asc">Giá: Tăng dần</option>
												<option value="price-desc">Giá: Giảm dần</option>
												<option value="alpha-asc">Tên: A-Z</option>
												<option value="alpha-desc">Tên: Z-A</option>
												<option value="created-asc">Cũ nhất</option>
												<option value="created-desc">Mới nhất</option>
												<option value="best-selling">Bán chạy nhất</option>
											</select>
										</span>
									</div>

								</div>
							</div>
						</div>
					</div>
					<div class="row product-lists product-item box-product-lists clear-item-collection" id="event-grid">
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 product-wrapper product-resize mb30">
							<div class="product-information">
								<div class="product-detail clearfix">
									<div class="product-image image-resize">
										<a href="/nike-sock-dart-se-premium" title="Nike Sock Dart SE Premium">

											<picture>
												<img src="assets/images/xamsockdartseshoe1.jpg"
													alt="Nike Sock Dart SE Premium">
											</picture>

										</a>
										<div class="box-position-quickview">
											<div class="wrap-btn-quickview">
												<a href="javascript:void(0);" class="quickview"
													data-handle="/nike-sock-dart-se-premium" title="Xem nhanh">Xem
													nhanh</a>
											</div>
										</div>
									</div>
									<div class="product-info">
										<a href="/nike-sock-dart-se-premium" title="Nike Sock Dart SE Premium">
											<h3 class="product-title">Nike Sock Dart SE Premium</h3>
										</a>
										<p class="product-box-price clearfix flexbox-grid-default">

											<span class="price-new flexbox-content text-left">4.290.000₫</span>


										</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 product-wrapper product-resize mb30">
							<div class="product-information">
								<div class="product-detail clearfix">
									<div class="product-image image-resize">
										<a href="/nike-sock-dart-se-premium" title="Nike Sock Dart SE Premium">

											<picture>
												<img src="assets/images/xamsockdartseshoe1.jpg"
													alt="Nike Sock Dart SE Premium">
											</picture>

										</a>
										<div class="box-position-quickview">
											<div class="wrap-btn-quickview">
												<a href="javascript:void(0);" class="quickview"
													data-handle="/nike-sock-dart-se-premium" title="Xem nhanh">Xem
													nhanh</a>
											</div>
										</div>
									</div>
									<div class="product-info">
										<a href="/nike-sock-dart-se-premium" title="Nike Sock Dart SE Premium">
											<h3 class="product-title">Nike Sock Dart SE Premium</h3>
										</a>
										<p class="product-box-price clearfix flexbox-grid-default">

											<span class="price-new flexbox-content text-left">4.290.000₫</span>


										</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 product-wrapper product-resize mb30">
							<div class="product-information">
								<div class="product-detail clearfix">
									<div class="product-image image-resize">
										<a href="/nike-sock-dart-se-premium" title="Nike Sock Dart SE Premium">

											<picture>
												<img src="assets/images/xamsockdartseshoe1.jpg"
													alt="Nike Sock Dart SE Premium">
											</picture>

										</a>
										<div class="box-position-quickview">
											<div class="wrap-btn-quickview">
												<a href="javascript:void(0);" class="quickview"
													data-handle="/nike-sock-dart-se-premium" title="Xem nhanh">Xem
													nhanh</a>
											</div>
										</div>
									</div>
									<div class="product-info">
										<a href="/nike-sock-dart-se-premium" title="Nike Sock Dart SE Premium">
											<h3 class="product-title">Nike Sock Dart SE Premium</h3>
										</a>
										<p class="product-box-price clearfix flexbox-grid-default">

											<span class="price-new flexbox-content text-left">4.290.000₫</span>


										</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 product-wrapper product-resize mb30">
							<div class="product-information">
								<div class="product-detail clearfix">
									<div class="product-image image-resize">
										<a href="/nike-sock-dart-se-premium" title="Nike Sock Dart SE Premium">

											<picture>
												<img src="assets/images/xamsockdartseshoe1.jpg"
													alt="Nike Sock Dart SE Premium">
											</picture>

										</a>
										<div class="box-position-quickview">
											<div class="wrap-btn-quickview">
												<a href="javascript:void(0);" class="quickview"
													data-handle="/nike-sock-dart-se-premium" title="Xem nhanh">Xem
													nhanh</a>
											</div>
										</div>
									</div>
									<div class="product-info">
										<a href="/nike-sock-dart-se-premium" title="Nike Sock Dart SE Premium">
											<h3 class="product-title">Nike Sock Dart SE Premium</h3>
										</a>
										<p class="product-box-price clearfix flexbox-grid-default">

											<span class="price-new flexbox-content text-left">4.290.000₫</span>


										</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 product-wrapper product-resize mb30">
							<div class="product-information">
								<div class="product-detail clearfix">
									<div class="product-image image-resize">
										<a href="/nike-sock-dart-se-premium" title="Nike Sock Dart SE Premium">

											<picture>
												<img src="assets/images/xamsockdartseshoe1.jpg"
													alt="Nike Sock Dart SE Premium">
											</picture>

										</a>
										<div class="box-position-quickview">
											<div class="wrap-btn-quickview">
												<a href="javascript:void(0);" class="quickview"
													data-handle="/nike-sock-dart-se-premium" title="Xem nhanh">Xem
													nhanh</a>
											</div>
										</div>
									</div>
									<div class="product-info">
										<a href="/nike-sock-dart-se-premium" title="Nike Sock Dart SE Premium">
											<h3 class="product-title">Nike Sock Dart SE Premium</h3>
										</a>
										<p class="product-box-price clearfix flexbox-grid-default">

											<span class="price-new flexbox-content text-left">4.290.000₫</span>


										</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 product-wrapper product-resize mb30">
							<div class="product-information">
								<div class="product-detail clearfix">
									<div class="product-image image-resize">
										<a href="/nike-sock-dart-se-premium" title="Nike Sock Dart SE Premium">

											<picture>
												<img src="assets/images/xamsockdartseshoe1.jpg"
													alt="Nike Sock Dart SE Premium">
											</picture>

										</a>
										<div class="box-position-quickview">
											<div class="wrap-btn-quickview">
												<a href="javascript:void(0);" class="quickview"
													data-handle="/nike-sock-dart-se-premium" title="Xem nhanh">Xem
													nhanh</a>
											</div>
										</div>
									</div>
									<div class="product-info">
										<a href="/nike-sock-dart-se-premium" title="Nike Sock Dart SE Premium">
											<h3 class="product-title">Nike Sock Dart SE Premium</h3>
										</a>
										<p class="product-box-price clearfix flexbox-grid-default">

											<span class="price-new flexbox-content text-left">4.290.000₫</span>


										</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 product-wrapper product-resize mb30">
							<div class="product-information">
								<div class="product-detail clearfix">
									<div class="product-image image-resize">
										<a href="/nike-sock-dart-se-premium" title="Nike Sock Dart SE Premium">

											<picture>
												<img src="assets/images/xamsockdartseshoe1.jpg"
													alt="Nike Sock Dart SE Premium">
											</picture>

										</a>
										<div class="box-position-quickview">
											<div class="wrap-btn-quickview">
												<a href="javascript:void(0);" class="quickview"
													data-handle="/nike-sock-dart-se-premium" title="Xem nhanh">Xem
													nhanh</a>
											</div>
										</div>
									</div>
									<div class="product-info">
										<a href="/nike-sock-dart-se-premium" title="Nike Sock Dart SE Premium">
											<h3 class="product-title">Nike Sock Dart SE Premium</h3>
										</a>
										<p class="product-box-price clearfix flexbox-grid-default">

											<span class="price-new flexbox-content text-left">4.290.000₫</span>


										</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 product-wrapper product-resize mb30">
							<div class="product-information">
								<div class="product-detail clearfix">
									<div class="product-image image-resize">
										<a href="/nike-sock-dart-se-premium" title="Nike Sock Dart SE Premium">

											<picture>
												<img src="assets/images/xamsockdartseshoe1.jpg"
													alt="Nike Sock Dart SE Premium">
											</picture>

										</a>
										<div class="box-position-quickview">
											<div class="wrap-btn-quickview">
												<a href="javascript:void(0);" class="quickview"
													data-handle="/nike-sock-dart-se-premium" title="Xem nhanh">Xem
													nhanh</a>
											</div>
										</div>
									</div>
									<div class="product-info">
										<a href="/nike-sock-dart-se-premium" title="Nike Sock Dart SE Premium">
											<h3 class="product-title">Nike Sock Dart SE Premium</h3>
										</a>
										<p class="product-box-price clearfix flexbox-grid-default">

											<span class="price-new flexbox-content text-left">4.290.000₫</span>


										</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 product-wrapper product-resize mb30">
							<div class="product-information">
								<div class="product-detail clearfix">
									<div class="product-image image-resize">
										<a href="/nike-sock-dart-se-premium" title="Nike Sock Dart SE Premium">

											<picture>
												<img src="assets/images/xamsockdartseshoe1.jpg"
													alt="Nike Sock Dart SE Premium">
											</picture>

										</a>
										<div class="box-position-quickview">
											<div class="wrap-btn-quickview">
												<a href="javascript:void(0);" class="quickview"
													data-handle="/nike-sock-dart-se-premium" title="Xem nhanh">Xem
													nhanh</a>
											</div>
										</div>
									</div>
									<div class="product-info">
										<a href="/nike-sock-dart-se-premium" title="Nike Sock Dart SE Premium">
											<h3 class="product-title">Nike Sock Dart SE Premium</h3>
										</a>
										<p class="product-box-price clearfix flexbox-grid-default">

											<span class="price-new flexbox-content text-left">4.290.000₫</span>


										</p>
									</div>
								</div>
							</div>
						</div>

						<div class="icon-loading clear-ajax" style="display: none;">
							<div class="uil-ring-css">
								<div></div>
							</div>
						</div>
						<div class="pagination-default clearfix clear-ajax col-xs-12">

						</div>

					</div>
				</div>
			</div>
		</div>
	</section>


	<div class="modal fade product_view" id="product_view">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<a href="#" data-dismiss="modal" class="class pull-right"><span
							class="glyphicon glyphicon-remove"></span></a>
					<h3 class="modal-title">Giày thể thao Nike LunarTempo 2</h3>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-md-6 product_img">
							<img src="assets/images/dotrainspeed4trainingshoe1.jpg" class="img-responsive">
						</div>
						<div class="col-md-6 product_content">
							<h4>Mã số: <span>51526</span></h4>
							<div class="rating">
								<span class="glyphicon glyphicon-star"></span>
								<span class="glyphicon glyphicon-star"></span>
								<span class="glyphicon glyphicon-star"></span>
								<span class="glyphicon glyphicon-star"></span>
								<span class="glyphicon glyphicon-star"></span>
								(10 reviews)
							</div>
							<p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an
								unknown printer took a galley of type and scrambled it to make a type specimen
								book.Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
							<h3 class="cost"><span class="glyphicon glyphicon-usd"></span> 75.00 <small
									class="pre-cost"><span class="glyphicon glyphicon-usd"></span> 60.00</small></h3>
							<div class="row">
								<div class="col-md-6 col-sm-6 col-xs-12">
									<select class="form-control" name="select">
										<option value="" selected="">Màu sắc</option>
										<option value="black">Trắng</option>
										<option value="white">Đen</option>
										<option value="gold">Hồng</option>
										<option value="rose gold">Khác</option>
									</select>
								</div>
								<!-- end col -->
								<div class="col-md-6 col-sm-6 col-xs-12">
									<select class="form-control" name="select">
										<option value="">Kích thước</option>
										<option value="">36</option>
										<option value="">37</option>
										<option value="">38</option>
										<option value="">39</option>
									</select>
								</div>

								<!-- end col -->
							</div>
							<div class="space-ten"></div>
							<div class="btn-ground">
								<button type="button" class="btn btn-primary"><span
										class="glyphicon glyphicon-shopping-cart"></span> Thêm vào giỏ</button>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--footer-->
	<footer>
		<div class="footer-center">
			<div class="container">
				<div class="row">

					<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 pd5">
						<div class="box-footer-colum">
							<h4 class="">Liên hệ</h4>
							<ul class="footer-list-menu">
								<li class="footer-address">1A87 ấp 1 xã Phạm Văn Hai, Bình Chánh, TPHCM</li>
								<li class="fooer-phone">
									<label class="mr5">Phone: </label><span><a
											href="tel:0938559501">0938559501</a></span>
								</li>
								<li class="footer-email">
									<label class="mr5">Email: </label><span><a
											href="mailto:nobita.nguyen0902@gmail.com">nobita.nguyen0902@gmail.com</a></span>
								</li>
							</ul>
						</div>
					</div>


					<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 pd5">
						<div class="box-footer-colum">
							<h4 class="">Chính sách hỗ trợ</h4>
							<ul class="footer-list-menu">


								<li>
									<a href="/" title="Chính sách đổi sản phẩm">Chính sách đổi sản phẩm</a>
								</li>

								<li>
									<a href="/" title="Chính sách trả góp">Chính sách trả góp</a>
								</li>

								<li>
									<a href="/" title="Chính sách bảo hành">Chính sách bảo hành</a>
								</li>

								<li>
									<a href="/" title="Chính sách giao hàng">Chính sách giao hàng</a>
								</li>


							</ul>
						</div>
					</div>


					<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 pd5">
						<div class="box-footer-colum">
							<h4 class="">Liên kết</h4>
							<div class="social">
								<ul class="footer-list-menu">
									<li>Hãy kết nối với chúng tôi.</li>
								</ul>
								<ul class="list-unstyled clearfix">

									<li class="facebook">
										<a target="_blank" href="/" class="fa fa-facebook"></a>
									</li>


									<li class="twitter">
										<a class="fa fa-twitter" target="_blank" href="/"></a>
									</li>


									<li class="google-plus">
										<a class="fa fa-google-plus" target="_blank" href="/"></a>
									</li>


									<li class="rss">
										<a class="fa fa-instagram" target="_blank" href="/"></a>
									</li>


									<li class="youtube">
										<a class="fa fa-youtube" target="_blank" href="/"></a>
									</li>

								</ul>

								<div class="dkbocongthuong">
									<img src="assets/images/dkbocongthuong.png" alt="Bộ công thương">
								</div>

							</div>
						</div>
					</div>


					<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 pd5">
						<div class="box-footer-colum">
							<h4 class="">Fanpage</h4>
						</div>
					</div>

				</div>
			</div>
		</div>
		<div id='bttop'><i class="fa fa-arrow-up" aria-hidden="true"></i></div>
		<script src='http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js' type='text/javascript'></script>
		<script type='text/javascript'>
			$(function () {
				$(window).scroll(function () {
					if ($(this).scrollTop() != 0) {
						$('#bttop').fadeIn();
					} else {
						$('#bttop').fadeOut();
					}
				});
				$('#bttop').click(function () {
					$('body,html').animate({
						scrollTop: 0
					}, 800);
				});
			});
		</script>
		<div class="footer-bottom">
			<div class="pd5 text-center">
				<div class="footer-copyright">

					<p>© Bản quyền thuộc về <a href="" target="_blank">phu le</a>. Cung cấp bởi <a href=""
							target="_blank">iCheck</a>.</p>

				</div>
			</div>
		</div>

	</footer>
	<!--scripts-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<!--app script-->
	<script src="./assets/scripts/main.js"></script>
	<script src="assets/scripts/owl.carousel.min.js"></script>
</body>

</html>