<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mart</title>
    <link rel="stylesheet" media="screen" href="./assets/styles/main.css">
    <link rel="stylesheet" media="screen" href="assets/styles/owl.carousel.min.css">
<link rel="stylesheet" media="screen" href="assets/styles/owl.theme.default.min.css">
<link rel="stylesheet" href="libs/font-awesome/css/font-awesome.min.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn t work if you view the page via file:// -->
    <!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
</head>
<body class="homepage sidebar-primary">
   <header class="hidden-xs">
	<div class="container">
		<div class="row">
			<div class="flexbox-grid-default col-xs-12">
				<div class="flexbox-content flexbox-align-self-center">
					<div class="support-phone-header">
						<a href="tel:0938559501">
							<i class="fa fa-phone-square" aria-hidden="true"></i>
							<span class="ml5">0938559501</span>
						</a>
					</div>
				</div>
				<div class="flexbox-content flexbox-align-self-center">
					<div class="logo">
						
						<h1 class="hidden">Rossy Store</h1>
						
						
						<a href="index.html" title="Rossy Store">
							<img src="assets/images/logo.png" alt="Rossy Store">
						</a>
						
					</div>
				</div>
				<div class="flexbox-content flexbox-align-self-center">
					<ul class="icon-control-header text-right">
						<li class="search-header">
						
									<form action="/search">
										<input type="hidden" name="type" value="product">
										<input type="text" class="form-control" name="q" placeholder="Tìm kiếm...">
									</form>
								
							
						</li>
						<li>
							<a href="dangnhap.html">
								<i class="fa fa-user-circle-o" aria-hidden="true"></i>
							</a>
						</li>
						<li id="cart-target" class="cart">
							<a href="giohang.html" class="cart " title="Giỏ hàng">
								<i class="fa fa-shopping-cart" aria-hidden="true"></i>				
								<span id="cart-count">1</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</header>
 <nav class="navbar-main navbar navbar-default cl-pri">
	<!-- MENU MAIN -->
	<div class="container nav-wrapper">
		<div class="row">
			
			<div id="navbar" class="navbar-collapse collapse">
				<div class="row clearfix">
					<div class="col-lg-12 col-md-12 col-sm-12">
						<ul class="nav navbar-nav clearfix flexbox-grid flexbox-justifyContent-center">
							
							
							<li class=" current">
								<a href="trangchu.html" title="Trang chủ">Trang chủ</a>
							</li>
							
							
							
							<li class="">
								<a href="gioithieu.html" title="Giới thiệu">Giới thiệu</a>
							</li>
							
							
							
							<li class="dropdown">
								<a href="sanpham.html" title="Giày nam">Giày nam <i class="fa fa-angle-down"></i></a>
								<ul class="dropdown-content submenu-level1-children" role="menu">
									
									
									<li class="current">
										<a href="/" class="current" title="Lifestyle">Lifestyle</a>
									</li>
									
									
									
									<li class="current">
										<a href="/" class="current" title="Running">Running</a>
									</li>
									
									
									
									<li class="current">
										<a href="/" class="current" title="Basketball">Basketball</a>
									</li>
									
									
									
									<li class="current">
										<a href="/" class="current" title="Football">Football</a>
									</li>
									
									
									
									<li class="current">
										<a href="/" class="current" title="Gym &amp; Training">Gym &amp; Training</a>
									</li>
									
									
									
									<li class="current">
										<a href="/" class="current" title="Skateboarding">Skateboarding</a>
									</li>
									
									
									
									<li class="current">
										<a href="/" class="current" title="Tennis">Tennis</a>
									</li>
									
									
								</ul>
							</li>
							
							
							
							<li class="">
								<a href="sanpham.html" title="Giày nữ">Giày nữ</a>
							</li>
							
							
							
							<li class="">
								<a href="tintuc.html" title="Tin tức">Tin tức</a>
							</li>
							
							
							
							<li class="">
								<a href="lienhe.html" title="Liên hệ">Liên hệ</a>
							</li>
							
							
						</ul>
					</div>
				</div>				
			</div>
		</div>
	</div>
</nav>   
<div class="header-navigate clearfix mb15">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pd5">
				<ol class="breadcrumb breadcrumb-arrow" itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
					<li><a href="/" itemprop="url" target="_self">Trang chủ</a></li>
					
					<li><i class="fa fa-angle-right"></i></li>
					<li class="active"><span itemprop="title">Tin tuc</span></li>
					
				</ol>
			</div>
		</div>
	</div>
</div>
<div id="blog" class="clearfix">
	<div class="container">
		<div class="row">
			
			<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">	
				<div class="group-blog mb15">
					<div class="title-block">
						<h1 class="title-group">Tin tức</h1>
					</div>
				</div>		
				<div class="">
					<ul class="blog-list-articles mb15 clearfix" id="list-articles">
						<li class="wrapper-article mb15">
							<div class="row">
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 blog-item-image">
									<a href=""><img src="assets/images/yaq3rp7binnritgbubsl-grande.jpg" alt="Air Jordan 3 True Blue được bán sớm hơn thông qua ứng dụng SNKRS và Nike"></a>
								</div>
								<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 blog-item-title">
									<a href="" title="Air Jordan 3 True Blue được bán sớm hơn thông qua ứng dụng SNKRS và Nike">
										<h3 class="article-title">Air Jordan 3 True Blue được bán sớm hơn thông qua ứng dụng SNKRS và Nike</h3>
									</a>
									<p class="blog-item-created"><i class="fa fa-calendar" aria-hidden="true"></i> 24/07/2017 - Nguyễn Văn Thành</p>
									<div class="blog-item-content"> Nike vẫn giữ nguyên ngày phát hành của phiên bản Air Jordan 3 “True Blue” vào ngày Black Friday 25/11 sắp tới và không có bất kì thông tin gì về việc thay đổi hay trì hoãn thời điểm...</div>
								</div>
							</div>
						</li>
						
						
						
						
						
						<li class="wrapper-article mb15">
							<div class="row">
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 blog-item-image">
									<a href=""><img src="assets/images/nike-flyknit-racer-midnight-1-e1479554458945-grande.jpg" alt="Nike Flyknit Racer Triple Black"></a>
								</div>
								<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 blog-item-title">
									<a href="" title="Nike Flyknit Racer Triple Black">
										<h3 class="article-title">Nike Flyknit Racer Triple Black</h3>
									</a>
									<p class="blog-item-created"><i class="fa fa-calendar" aria-hidden="true"></i> 24/07/2017 - Nguyễn Văn Thành</p>
									<div class="blog-item-content"> Cuối cùng thì Nike Sportwear cũng đã phát hành phối màu “all black” của mẫu giày Nike Flyknit Racer với mức giá bán lẻ $150. Mặc dù cũng đã hơi trễ khi phát hành nhưng Nike đang cố gắng...</div>
								</div>
							</div>
						</li>
						
						
						
						
						
						<li class="wrapper-article mb15">
							<div class="row">
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 blog-item-image">
									<a href=""><img src="assets/images/nike-flyknit-racer-midnight-1-e1479554458945-grande.jpg" alt="Nike Flyknit Racer Triple Black"></a>
								</div>
								<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 blog-item-title">
									<a href="" title="Nike Flyknit Racer Triple Black">
										<h3 class="article-title">Nike Flyknit Racer Triple Black</h3>
									</a>
									<p class="blog-item-created"><i class="fa fa-calendar" aria-hidden="true"></i> 24/07/2017 - Nguyễn Văn Thành</p>
									<div class="blog-item-content"> Cuối cùng thì Nike Sportwear cũng đã phát hành phối màu “all black” của mẫu giày Nike Flyknit Racer với mức giá bán lẻ $150. Mặc dù cũng đã hơi trễ khi phát hành nhưng Nike đang cố gắng...</div>
								</div>
							</div>
						</li>
						
						
						
						
						
						<li class="wrapper-article mb15">
							<div class="row">
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 blog-item-image">
									<a href=""><img src="assets/images/nike-flyknit-racer-midnight-1-e1479554458945-grande.jpg" alt="Nike Flyknit Racer Triple Black"></a>
								</div>
								<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 blog-item-title">
									<a href="" title="Nike Flyknit Racer Triple Black">
										<h3 class="article-title">Nike Flyknit Racer Triple Black</h3>
									</a>
									<p class="blog-item-created"><i class="fa fa-calendar" aria-hidden="true"></i> 24/07/2017 - Nguyễn Văn Thành</p>
									<div class="blog-item-content"> Cuối cùng thì Nike Sportwear cũng đã phát hành phối màu “all black” của mẫu giày Nike Flyknit Racer với mức giá bán lẻ $150. Mặc dù cũng đã hơi trễ khi phát hành nhưng Nike đang cố gắng...</div>
								</div>
							</div>
						</li>
						
						
						
						
						
						<li class="wrapper-article mb15">
							<div class="row">
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 blog-item-image">
									<a href=""><img src="assets/images/nike-flyknit-racer-midnight-1-e1479554458945-grande.jpg" alt="Nike Flyknit Racer Triple Black"></a>
								</div>
								<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 blog-item-title">
									<a href="" title="Nike Flyknit Racer Triple Black">
										<h3 class="article-title">Nike Flyknit Racer Triple Black</h3>
									</a>
									<p class="blog-item-created"><i class="fa fa-calendar" aria-hidden="true"></i> 24/07/2017 - Nguyễn Văn Thành</p>
									<div class="blog-item-content"> Cuối cùng thì Nike Sportwear cũng đã phát hành phối màu “all black” của mẫu giày Nike Flyknit Racer với mức giá bán lẻ $150. Mặc dù cũng đã hơi trễ khi phát hành nhưng Nike đang cố gắng...</div>
								</div>
							</div>
						</li>
						
						
						
						
						
						<li class="wrapper-article mb15">
							<div class="row">
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 blog-item-image">
									<a href=""><img src="assets/images/nike-flyknit-racer-midnight-1-e1479554458945-grande.jpg" alt="Nike Flyknit Racer Triple Black"></a>
								</div>
								<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 blog-item-title">
									<a href="" title="Nike Flyknit Racer Triple Black">
										<h3 class="article-title">Nike Flyknit Racer Triple Black</h3>
									</a>
									<p class="blog-item-created"><i class="fa fa-calendar" aria-hidden="true"></i> 24/07/2017 - Nguyễn Văn Thành</p>
									<div class="blog-item-content"> Cuối cùng thì Nike Sportwear cũng đã phát hành phối màu “all black” của mẫu giày Nike Flyknit Racer với mức giá bán lẻ $150. Mặc dù cũng đã hơi trễ khi phát hành nhưng Nike đang cố gắng...</div>
								</div>
							</div>
						</li>
										
					</ul>
					<div class="pagination-default clearfix">
						
					</div>
				</div>				
			</div>
			
			<!--thêm if news_recent_show and -->
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pd5">
	
	
	<div class="blog-sidebar mb15">
		<div class="wrapper-article-list">
			<div class="title-group-related">
				
				<h2 class="title-group">Bài viết mới nhất</h2>
				
			</div>
		</div>
		<ul class="list-article-new">
			<li>
				<div class="flexbox-grid-default">
					<div class="flexbox-auto-100px">
						<a href="" title="Air Jordan 3 True Blue được bán sớm hơn thông qua ứng dụng SNKRS và Nike">
							<img src="assets/images/yaq3rp7binnritgbubsl-grande.jpg" alt="Air Jordan 3 True Blue được bán sớm hơn thông qua ứng dụng SNKRS và Nike">
						</a>
					</div>
					<div class="flexbox-content pd-l-10">
						<a href="/air-jordan-3-true-blue-duoc-ban-som-hon-thong-qua-ung-dung-snkrs-va-nike" title="Air Jordan 3 True Blue được bán sớm hơn thông qua ứng dụng SNKRS và Nike">
							<h3 class="article-title">Air Jordan 3 True Blue được bán sớm hơn thông qua ứng dụng SNKRS và Nike</h3>
						</a>						
						<p class="article-item-created">
							Ngày:24/07/2017 lúc 17:20PM
						</p>	
					</div>
				</div>
			</li>
			<li>
				<div class="flexbox-grid-default">
					<div class="flexbox-auto-100px">
						<a href="" title="Air Jordan 3 True Blue được bán sớm hơn thông qua ứng dụng SNKRS và Nike">
							<img src="assets/images/yaq3rp7binnritgbubsl-grande.jpg" alt="Air Jordan 3 True Blue được bán sớm hơn thông qua ứng dụng SNKRS và Nike">
						</a>
					</div>
					<div class="flexbox-content pd-l-10">
						<a href="/air-jordan-3-true-blue-duoc-ban-som-hon-thong-qua-ung-dung-snkrs-va-nike" title="Air Jordan 3 True Blue được bán sớm hơn thông qua ứng dụng SNKRS và Nike">
							<h3 class="article-title">Air Jordan 3 True Blue được bán sớm hơn thông qua ứng dụng SNKRS và Nike</h3>
						</a>						
						<p class="article-item-created">
							Ngày:24/07/2017 lúc 17:20PM
						</p>	
					</div>
				</div>
			</li>
			<li>
				<div class="flexbox-grid-default">
					<div class="flexbox-auto-100px">
						<a href="" title="Air Jordan 3 True Blue được bán sớm hơn thông qua ứng dụng SNKRS và Nike">
							<img src="assets/images/yaq3rp7binnritgbubsl-grande.jpg" alt="Air Jordan 3 True Blue được bán sớm hơn thông qua ứng dụng SNKRS và Nike">
						</a>
					</div>
					<div class="flexbox-content pd-l-10">
						<a href="/air-jordan-3-true-blue-duoc-ban-som-hon-thong-qua-ung-dung-snkrs-va-nike" title="Air Jordan 3 True Blue được bán sớm hơn thông qua ứng dụng SNKRS và Nike">
							<h3 class="article-title">Air Jordan 3 True Blue được bán sớm hơn thông qua ứng dụng SNKRS và Nike</h3>
						</a>						
						<p class="article-item-created">
							Ngày:24/07/2017 lúc 17:20PM
						</p>	
					</div>
				</div>
			</li>
			<li>
				<div class="flexbox-grid-default">
					<div class="flexbox-auto-100px">
						<a href="" title="Air Jordan 3 True Blue được bán sớm hơn thông qua ứng dụng SNKRS và Nike">
							<img src="assets/images/yaq3rp7binnritgbubsl-grande.jpg" alt="Air Jordan 3 True Blue được bán sớm hơn thông qua ứng dụng SNKRS và Nike">
						</a>
					</div>
					<div class="flexbox-content pd-l-10">
						<a href="/air-jordan-3-true-blue-duoc-ban-som-hon-thong-qua-ung-dung-snkrs-va-nike" title="Air Jordan 3 True Blue được bán sớm hơn thông qua ứng dụng SNKRS và Nike">
							<h3 class="article-title">Air Jordan 3 True Blue được bán sớm hơn thông qua ứng dụng SNKRS và Nike</h3>
						</a>						
						<p class="article-item-created">
							Ngày:24/07/2017 lúc 17:20PM
						</p>	
					</div>
				</div>
			</li>
			<li>
				<div class="flexbox-grid-default">
					<div class="flexbox-auto-100px">
						<a href="" title="Air Jordan 3 True Blue được bán sớm hơn thông qua ứng dụng SNKRS và Nike">
							<img src="assets/images/yaq3rp7binnritgbubsl-grande.jpg" alt="Air Jordan 3 True Blue được bán sớm hơn thông qua ứng dụng SNKRS và Nike">
						</a>
					</div>
					<div class="flexbox-content pd-l-10">
						<a href="/air-jordan-3-true-blue-duoc-ban-som-hon-thong-qua-ung-dung-snkrs-va-nike" title="Air Jordan 3 True Blue được bán sớm hơn thông qua ứng dụng SNKRS và Nike">
							<h3 class="article-title">Air Jordan 3 True Blue được bán sớm hơn thông qua ứng dụng SNKRS và Nike</h3>
						</a>						
						<p class="article-item-created">
							Ngày:24/07/2017 lúc 17:20PM
						</p>	
					</div>
				</div>
			</li>
			
		</ul>			
	</div>
	
	<div class="mb15">
		
		<div class="box-banner-index text-center mb15">
			<a href="/">
				<picture>
					<img src="assets/images/banner_product_1.jpg" alt="Banner 1" title="Banner 1">
				</picture>
			</a>
		</div>
		
		
		<div class="box-banner-index text-center mb15">
			<a href="/">
				<picture>
					<img src="assets/images/banner_product_2.jpg" alt="Banner 2" title="Banner 2">
				</picture>
			</a>
		</div>
		
		
		<div class="box-banner-index text-center mb15">
			<a href="/">
				<picture>
					<img src="assets/images/banner_product_3.jpg" alt="Banner 3" title="Banner 3">
				</picture>
			</a>
		</div>
		
	</div>
</div>
		</div>
	</div>
</div>







<div class="modal fade product_view" id="product_view">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" data-dismiss="modal" class="class pull-right"><span class="glyphicon glyphicon-remove"></span></a>
                <h3 class="modal-title">Giày thể thao Nike LunarTempo 2</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6 product_img">
                        <img src="assets/images/dotrainspeed4trainingshoe1.jpg" class="img-responsive">
                    </div>
                    <div class="col-md-6 product_content">
                        <h4>Mã số: <span>51526</span></h4>
                        <div class="rating">
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            (10 reviews)
                        </div>
                        <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        <h3 class="cost"><span class="glyphicon glyphicon-usd"></span> 75.00 <small class="pre-cost"><span class="glyphicon glyphicon-usd"></span> 60.00</small></h3>
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <select class="form-control" name="select">
                                    <option value="" selected="">Màu sắc</option>
                                    <option value="black">Trắng</option>
                                    <option value="white">Đen</option>
                                    <option value="gold">Hồng</option>
                                    <option value="rose gold">Khác</option>
                                </select>
                            </div>
                            <!-- end col -->
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <select class="form-control" name="select">
                                    <option value="">Kích thước</option>
                                    <option value="">36</option>
                                    <option value="">37</option>
                                    <option value="">38</option>
                                    <option value="">39</option>
                                </select>
                            </div>
                            
                            <!-- end col -->
                        </div>
                        <div class="space-ten"></div>
                        <div class="btn-ground">
                            <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-shopping-cart"></span> Thêm vào giỏ</button>
                         
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
      <!--footer-->
<footer>
	<div class="footer-center">
		<div class="container">
			<div class="row">
				
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 pd5">
					<div class="box-footer-colum">
						<h4 class="">Liên hệ</h4>
						<ul class="footer-list-menu">
							<li class="footer-address">1A87 ấp 1 xã Phạm Văn Hai, Bình Chánh, TPHCM</li>
							<li class="fooer-phone">
								<label class="mr5">Phone: </label><span><a href="tel:0938559501">0938559501</a></span>
							</li>
							<li class="footer-email">
								<label class="mr5">Email: </label><span><a href="mailto:nobita.nguyen0902@gmail.com">nobita.nguyen0902@gmail.com</a></span>
							</li>
						</ul>
					</div>
				</div>
				
				
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 pd5">
					<div class="box-footer-colum">
						<h4 class="">Chính sách hỗ trợ</h4>
						<ul class="footer-list-menu">
							
							
							<li>
								<a href="/" title="Chính sách đổi sản phẩm">Chính sách đổi sản phẩm</a>
							</li>
							
							<li>
								<a href="/" title="Chính sách trả góp">Chính sách trả góp</a>
							</li>
							
							<li>
								<a href="/" title="Chính sách bảo hành">Chính sách bảo hành</a>
							</li>
							
							<li>
								<a href="/" title="Chính sách giao hàng">Chính sách giao hàng</a>
							</li>
								
							
						</ul>
					</div>
				</div>
				
				
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 pd5">
					<div class="box-footer-colum">
						<h4 class="">Liên kết</h4>
						<div class="social">
							<ul class="footer-list-menu">
								<li>Hãy kết nối với chúng tôi.</li>
							</ul>
							<ul class="list-unstyled clearfix">
								
								<li class="facebook">
									<a target="_blank" href="/" class="fa fa-facebook"></a>
								</li>
								
								
								<li class="twitter">
									<a class="fa fa-twitter" target="_blank" href="/"></a>
								</li>
								
								
								<li class="google-plus">
									<a class="fa fa-google-plus" target="_blank" href="/"></a>
								</li>
								
								
								<li class="rss">
									<a class="fa fa-instagram" target="_blank" href="/"></a>
								</li>
								
								
								<li class="youtube">
									<a class="fa fa-youtube" target="_blank" href="/"></a>
								</li>
								
							</ul>
							
							<div class="dkbocongthuong">
								<img src="assets/images/dkbocongthuong.png" alt="Bộ công thương">
							</div>
							
						</div>
					</div>
				</div>
				
				
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 pd5">
					<div class="box-footer-colum">
						<h4 class="">Fanpage</h4>
					</div>
				</div>
				
			</div>
		</div>
	</div>
	<div id='bttop'><i class="fa fa-arrow-up" aria-hidden="true"></i></div>
	<script src='http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js' type='text/javascript'></script>
<script type='text/javascript'>
$(function() {
 $(window).scroll(function() {
 if ($(this).scrollTop() != 0) {
 $('#bttop').fadeIn();
 } else {
 $('#bttop').fadeOut();
 }
 });
 $('#bttop').click(function() {
 $('body,html').animate({
 scrollTop: 0
 }, 800);
 });
});
</script>
	<div class="footer-bottom">
		<div class="pd5 text-center">
			<div class="footer-copyright">
				
				<p>© Bản quyền thuộc về <a href="" target="_blank">phu le</a>. Cung cấp bởi <a href="" target="_blank">iCheck</a>.</p>                
				
			</div>
		</div>
	</div>
	
</footer>
    <!--scripts-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <!--app script-->
    <script src="./assets/scripts/main.js"></script>
    <script src="assets/scripts/owl.carousel.min.js"></script>
</body>

</html>